:root{
--bs-brown: #4A3333;
--bs-green: #98D083;
--bs-mint: #BCFCC9;
--bs-yellow: #F2FECA;


}
body{
    background-color:var(--bs-yellow);
}
h1{
    text-align:center;
    color: var(--bs-brown)
}
h2{
    text-align:center;
    color: var(--bs-green)
}
.buttons{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}
.start{
    background-color: var(--bs-mint);
    width: 100px;
    height: 80px;
    padding: 20px;
    margin:20px;

}